name: Python application

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: [3.8, pypy-3.8]

    steps:
    - uses: actions/checkout@v2

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -e .
        pip install requests pytest-cov coveralls mock

    - name: Install Docker Compose
      run: |
        sudo apt-get update
        sudo apt-get install -y docker-compose

    - name: Start Docker services
      run: |
        docker-compose -f tests/config/docker-compose.yml up -d
        sleep 120
        ./tests/config/bootstrap || true

    - name: Run tests
      run: |
        py.test -v --cov=pygelf || true

    - name: Stop Docker services
      if: always()
      run: docker-compose -f tests/config/docker-compose.yml down

    - name: Upload coverage to Coveralls
      if: success()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: coveralls
